<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.habitdev.sprout">
    <!-- Read and Write External Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--Internet Connection Permision-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Camera Access Request-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--Alarm Manager for Notification-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!--Foreground Services for making notif will still go though even the app is closed or restarted-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sprout"
        tools:targetApi="31">

<!--        android:name attribute is the name of the class which provides the file sharing functionality.-->
<!--        android:authorities attribute is the unique identifier for your FileProvider.-->
<!--        android:exported attribute is set to false, as the FileProvider should only be accessible to your app.-->
<!--        android:grantUriPermissions attribute is set to true so that other apps can access the shared files.-->
<!--        <meta-data>: this tag is used to specify the path where the files are located.-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.habitdev.sprout"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.habitdev.sprout.activity.startup.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

<!--&lt;!&ndash;        Required to start and stop job scheduler&ndash;&gt;-->
<!--        <service android:name="com.habitdev.sprout.utill.JobServiceScheduler"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"/>-->

<!--        <service android:name="com.habitdev.sprout.utill.NotificationJobScheduler"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"/>-->

<!--        For broadcast reciever-->
        <receiver android:name=".utill.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="morning"/>
                <action android:name="evening"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>